# SPDX-FileCopyrightText: 2014-2022 Donald Stufft and individual contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause OR Apache-2.0

*.egg-info/
*.egg
*.py[co]

.[nt]ox/
.cache/
.coverage
.idea
.venv*
.vscode/

.mypy_cache/
.pytest_cache/
__pycache__/
_build/
build/
dist/
htmlcov/
