language: python
cache: pip
python: 3.6
env: TOXENV=py

matrix:
  include:
    - python: 2.7
    - python: pypy
    - python: pypy3
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
    - python: 3.8-dev
      dist: xenial
    - env: TOXENV=pep8
    - env: TOXENV=docs
    - env: TOXENV=packaging

  allow_failures:
    - python: 3.8-dev

install:
  - pip install tox

script:
  - tox

notifications:
  irc:
    channels:
      - "irc.freenode.org#pypa-dev"
    use_notice: true
    skip_join: true
