# Install our development requirements
black; python_version >= '3.6'
check-manifest
coverage
flake8
mypy
pep8-naming
pretend
pytest
readme_renderer
sphinx
sphinx_rtd_theme
tox

# Install packaging itself
-e .
