include CHANGELOG.rst CONTRIBUTING.rst README.rst
include LICENSE LICENSE.APACHE LICENSE.BSD

include .coveragerc
include .flake8
include .pre-commit-config.yaml
include mypy.ini

recursive-include docs *
recursive-include tests *.py
recursive-include tests hello-world-*

exclude noxfile.py
exclude .readthedocs.yml
exclude .travis.yml
exclude dev-requirements.txt
exclude tests/build-hello-world.sh
exclude tests/hello-world.c

prune docs/_build
prune tasks
