include CHANGELOG.rst CONTRIBUTING.rst README.rst
include LICENSE LICENSE.APACHE LICENSE.BSD

include .coveragerc
include .flake8
include tox.ini

recursive-include docs *
recursive-include tests *.py
recursive-include stubs *

exclude .travis.yml
exclude dev-requirements.txt

prune docs/_build
prune tasks
