name: Documentation

on:
  pull_request:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"
  push:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  docs:
    name: nox -s docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        name: Install Python
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Build documentation
        run: pipx run nox --error-on-missing-interpreters -s docs
