name: Documentation

on:
  pull_request:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"
  push:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  docs:
    name: nox -s docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        name: Install Python
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Build documentation
        run: pipx run nox --error-on-missing-interpreters -s docs
