name: Documentation

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

env:
  FORCE_COLOR: 1

jobs:
  docs:
    name: nox -s docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        name: Install Python
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Build documentation
        run: pipx run nox --error-on-missing-interpreters -s docs
