name: Documentation

on:
  pull_request:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"
  push:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  docs:
    name: nox -s docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
        name: Install Python
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Build documentation
        run: pipx run nox --error-on-missing-interpreters -s docs
