name: Linting

on:
  push:
    paths:
      - '*.py'

jobs:
  lint:
    name: tox -e lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-python@v1
      name: Install Python
      with:
        python-version: '3.7'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade tox

    - name: Run linters
      run: python -m tox -e lint
