name: Linting

on:
  pull_request:
    paths:
      - ".github/workflows/lint.yml"
      - ".pre-commit-config.yaml"
      - "**.py"
  push:
    paths:
      - ".github/workflows/lint.yml"
      - ".pre-commit-config.yaml"
      - "**.py"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    name: nox -s lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        name: Install Python
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Run `nox -s lint`
        run: pipx run nox --error-on-missing-interpreters -s lint -- --show-diff-on-failure

  build:
    name: Build sdist and wheel
    runs-on: ubuntu-latest
    # Linting verifies that the project is in an acceptable state to create files
    # for releasing.
    # And this action should be run whenever a release is ready to go public as
    # the version number will be changed by editing __init__.py.
    needs: lint

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Build
        run: pipx run build

      - name: Archive files
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: dist
          path: dist
