name: Linting

on:
  pull_request:
    paths:
      - ".github/workflows/lint.yml"
      - ".pre-commit-config.yaml"
      - "**.py"
  push:
    paths:
      - ".github/workflows/lint.yml"
      - ".pre-commit-config.yaml"
      - "**.py"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  lint:
    name: nox -s lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        name: Install Python
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Run `nox -s lint`
        run: pipx run nox --error-on-missing-interpreters -s lint -- --show-diff-on-failure

  build:
    name: Build sdist and wheel
    runs-on: ubuntu-latest
    # Linting verifies that the project is in an acceptable state to create files
    # for releasing.
    # And this action should be run whenever a release is ready to go public as
    # the version number will be changed by editing __init__.py.
    needs: lint

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Build
        run: pipx run build

      - name: Build
        run: pipx run twine check --strict ./dist/*

      - name: Archive files
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist
          path: dist
