name: Linting

on:
  pull_request:
    paths:
      - ".github/workflows/lint.yml"
      - ".pre-commit-config.yaml"
      - "**.py"
  push:
    paths:
      - ".github/workflows/lint.yml"
      - ".pre-commit-config.yaml"
      - "**.py"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  lint:
    name: nox -s lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        name: Install Python
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Run `nox -s lint`
        run: pipx run nox --error-on-missing-interpreters -s lint -- --show-diff-on-failure

  build:
    name: Build sdist and wheel
    runs-on: ubuntu-latest
    # Linting verifies that the project is in an acceptable state to create files
    # for releasing.
    # And this action should be run whenever a release is ready to go public as
    # the version number will be changed by editing __init__.py.
    needs: lint

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Build
        run: pipx run build

      - name: Build
        run: pipx run twine check --strict ./dist/*

      - name: Archive files
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dist
          path: dist
