name: Performance Benchmarks

on:
  pull_request:
    branches:
      - main

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  asv-continuous:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        name: Install Pythons
        with:
          python-version: |
            3.8
            3.9
            3.10
            3.11
            3.12
            3.13
            3.14

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Setup ASV
        run: |
          uv tool install asv
          asv machine --yes

      - name: Run ASV continuous benchmark
        run: asv continuous origin/main HEAD --sort default --no-only-changed | tee -a asv_output.txt || true

      - name: Write out to GitHub Summary
        run: sed -n '/All benchmarks/,$p' asv_output.txt >> "$GITHUB_STEP_SUMMARY"
