name: Test CPython

on: [push]

jobs:
  test:
    name: Test Python ${{ matrix.python_version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        # Python 3.4 is not available from actions/setup-python@v1.
        python_version: ['2.7', '3.5', '3.6', '3.7']

    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-python@v1
      name: Install CPython ${{ matrix.python_version }}
      with:
        python-version: ${{ matrix.python_version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r dev-requirements.txt

    - name: Test coverage
      run: |
        python -m coverage run --source packaging/ -m pytest --strict
        python -m coverage report -m --fail-under 100
